@model Products

@{ Layout = "_Layout"; ViewBag.Title = "Add Products";}

<h2>Add Products <a asp-action="Product" class="btn btn-sm btn-primary">Back</a></h2>
<form asp-action="AddProducts" method="post">
   
    <div class="form-group">
        <label for="ProductName">Product Name:</label>
        <input class="form-control" name="ProductName" />
    </div>
    <div class="form-group">
        <label for="ProductEancode">Product EAN Code:</label>
        <input class="form-control" name="ProductEancode" />
    </div>

   
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add Product</button>
    </div>
</form>

@if (Model != null)
{
    <h2>Add Products</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
               
                <th>Product Name</th>
                <th>Product EAN Code</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
               
                <td>@Model.ProductName</td>
                <td>@Model.ProductEancode</td>

            </tr>
        </tbody>
    </table>
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}